name: Build and publish image to DockerHub
on:
    [workflow_dispatch]

jobs:
    publish_images:
        runs-on: ubuntu-latest
        steps:
          - name: checkout
            uses: actions/checkout@v4
          - name: build image
            run: |
              docker build ./api/ -t rulopssec/devops-qr-generator-api:latest
              docker build ./front-end-nextjs/ -t rulopssec/devops-qr-generator-front-end:latest
          - name: push image to DockerHub
            run: |
              docker login -u rulopssec -p ${{secrets.DOCKERHUB_TOKEN}}
              docker push rulopssec/devops-qr-generator-api:latest
              docker push rulopssec/devops-qr-generator-front-end:latest