name: Build and publish image to DockerHub
on:
    [workflow_dispatch]

jobs:
    publish_images:
        runs-on: ubuntu-latest
        steps:
          - name: checkout
            uses: actions/checkout@v4
          - name: build image
            run: docker build ./api/ -t rulopssec/devops-qr-generator-api:latest
          - name: push image to DockerHub
            run: |
              docker push rulopssec/devops-qr-generator-api:latest
